<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tucomel.themetoggler</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>13F4100C-E6EF-4AB4-ABA3-FF31A2482153</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E047D02C-05C7-44A2-A48C-EC7B7764C657</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E28B826-D572-4B40-80BA-4AE466987DB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40BFF446-03B7-4EE3-9131-49DC963125B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>317EFEF6-DBBA-4B3F-897B-1E3F8006D586</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79FDFFA8-4E71-4E19-B738-7D9588B66835</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33A7A6D6-7FB8-4CFC-A0D0-B28DCBA8007F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7689B71-8A4B-4A00-A231-42BA30DB856E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40BFF446-03B7-4EE3-9131-49DC963125B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>955149BE-83B0-43C5-B9DB-F8D14286AE3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>490E6B3E-6ECD-48A1-8797-5CC7D8FDC8AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36F569F8-7E5E-4C8F-A2F3-C71B29C2687D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>873862DE-7285-445D-ACCB-53131C843081</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>83A99626-D8FF-446B-9DC1-DB34D2C4B057</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4922F96A-AA5C-4384-9CF9-3248C03E4E53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>83A99626-D8FF-446B-9DC1-DB34D2C4B057</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4922F96A-AA5C-4384-9CF9-3248C03E4E53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60B25121-423E-438D-961C-46FBD4D6DF54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63B77BBE-6E13-4C16-91CF-BEA69E4B23A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEC5FFB6-5A59-4897-8966-DA5C3C66AF75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6641BF43-A066-435E-AF81-660793A60AE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB9269CA-EF42-4CC6-B527-B85B2C4E86FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>22E5CB21-EEEB-4C9C-9C47-A521AE4F9130</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4922F96A-AA5C-4384-9CF9-3248C03E4E53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79FDFFA8-4E71-4E19-B738-7D9588B66835</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCF8F376-0D1E-46FE-BDDF-33975BD3C5E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82994840-9452-4347-8C22-32D6BD4C56C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63B77BBE-6E13-4C16-91CF-BEA69E4B23A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>873862DE-7285-445D-ACCB-53131C843081</key>
		<array/>
		<key>955149BE-83B0-43C5-B9DB-F8D14286AE3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36F569F8-7E5E-4C8F-A2F3-C71B29C2687D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>490E6B3E-6ECD-48A1-8797-5CC7D8FDC8AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40E744A8-E09F-45B2-BC42-CF09690B87E1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7689B71-8A4B-4A00-A231-42BA30DB856E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36F569F8-7E5E-4C8F-A2F3-C71B29C2687D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1E28B826-D572-4B40-80BA-4AE466987DB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40E744A8-E09F-45B2-BC42-CF09690B87E1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCF8F376-0D1E-46FE-BDDF-33975BD3C5E1</key>
		<array/>
		<key>CC020AEB-1607-4B04-A221-361FC7A4CB8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6641BF43-A066-435E-AF81-660793A60AE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEC5FFB6-5A59-4897-8966-DA5C3C66AF75</key>
		<array/>
		<key>E047D02C-05C7-44A2-A48C-EC7B7764C657</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC020AEB-1607-4B04-A221-361FC7A4CB8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB9269CA-EF42-4CC6-B527-B85B2C4E86FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33A7A6D6-7FB8-4CFC-A0D0-B28DCBA8007F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>github.com/tucomel</string>
	<key>description</key>
	<string>Theme Toggler smoothly</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Theme Toggler</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>When to use light theme (usage between 0000 and 2359)</string>
				<key>text</key>
				<string>Light Time</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EB9269CA-EF42-4CC6-B527-B85B2C4E86FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:lightTime} or {var:darkTime} isnt a valid time format 🚫</string>
				<key>title</key>
				<string>Theme Toggler 🌗</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>36F569F8-7E5E-4C8F-A2F3-C71B29C2687D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:lightTime}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^([01]\d|2[0-3]):?([0-5]\d)$</string>
						<key>outputlabel</key>
						<string>valid</string>
						<key>uid</key>
						<string>40E744A8-E09F-45B2-BC42-CF09690B87E1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>invalid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B7689B71-8A4B-4A00-A231-42BA30DB856E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>lightTime</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>33A7A6D6-7FB8-4CFC-A0D0-B28DCBA8007F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>theme-setup</string>
				<key>subtext</key>
				<string>This workflow will ask Alfred permission for System Preferences.app</string>
				<key>text</key>
				<string>Setup this workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>13F4100C-E6EF-4AB4-ABA3-FF31A2482153</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:darkTime}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^([01]\d|2[0-3]):?([0-5]\d)$</string>
						<key>outputlabel</key>
						<string>valid</string>
						<key>uid</key>
						<string>40E744A8-E09F-45B2-BC42-CF09690B87E1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>invalid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>955149BE-83B0-43C5-B9DB-F8D14286AE3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Custom time","arg":"custom","subtitle":"Set custom time (HH24MM)"},{"title":"Night-Shift (need sudo)","arg":"nightshift","subtitle":"Theme will toggle when system trigger NightShift"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>E047D02C-05C7-44A2-A48C-EC7B7764C657</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>darkTime</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>40BFF446-03B7-4EE3-9131-49DC963125B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>custom</string>
						<key>outputlabel</key>
						<string>custom</string>
						<key>uid</key>
						<string>22E5CB21-EEEB-4C9C-9C47-A521AE4F9130</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>nightshift</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6641BF43-A066-435E-AF81-660793A60AE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Light at {var:lightTime} and Dark at {var:darkTime} ✅</string>
				<key>title</key>
				<string>Theme Toggler 🌗</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>873862DE-7285-445D-ACCB-53131C843081</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>When to use Dark theme (usage between 0000 and 2359)</string>
				<key>text</key>
				<string>Dark Time</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1E28B826-D572-4B40-80BA-4AE466987DB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>type</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CC020AEB-1607-4B04-A221-361FC7A4CB8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:lightTime}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>3</integer>
						<key>matchstring</key>
						<string>{var:darkTime}</string>
						<key>outputlabel</key>
						<string>valid</string>
						<key>uid</key>
						<string>83A99626-D8FF-446B-9DC1-DB34D2C4B057</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>invalid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>490E6B3E-6ECD-48A1-8797-5CC7D8FDC8AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>sh setup.sh $type $lightTime $darkTime</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4922F96A-AA5C-4384-9CF9-3248C03E4E53</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Theme Toggler 🌗</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>60B25121-423E-438D-961C-46FBD4D6DF54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>theme-uninstall</string>
				<key>subtext</key>
				<string>All scheduled scripts will be deleted</string>
				<key>text</key>
				<string>Are you sure?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DE4C00B9-438C-4250-B872-5C85FA528BB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>0500,1800</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>82994840-9452-4347-8C22-32D6BD4C56C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>if [ -z "$shouldBeDark" ]; then
	exit 1
fi

echo "Should be dark : $shouldBeDark"

/usr/bin/osascript -e 'tell application id "com.runningwithcrayons.Alfred" to run trigger "toggle" in workflow "com.tucomel.themetoggler" with argument '\"$shouldBeDark\"' '</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DEC5FFB6-5A59-4897-8966-DA5C3C66AF75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>shouldBeDark</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>63B77BBE-6E13-4C16-91CF-BEA69E4B23A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>toggle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>317EFEF6-DBBA-4B3F-897B-1E3F8006D586</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sh setTheme.sh $theme1 $theme2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BCF8F376-0D1E-46FE-BDDF-33975BD3C5E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Theme Toggler 🌗</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>925DF2FD-12FD-4978-A8C3-AC6504D54F60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>theme</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>79FDFFA8-4E71-4E19-B738-7D9588B66835</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Theme Toggler smoothly
Alfred need permission to access preferences app, this permission is the key why it toggle smoothly</string>
	<key>uidata</key>
	<dict>
		<key>13F4100C-E6EF-4AB4-ABA3-FF31A2482153</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>1E28B826-D572-4B40-80BA-4AE466987DB4</key>
		<dict>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>317EFEF6-DBBA-4B3F-897B-1E3F8006D586</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>33A7A6D6-7FB8-4CFC-A0D0-B28DCBA8007F</key>
		<dict>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>36F569F8-7E5E-4C8F-A2F3-C71B29C2687D</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>40BFF446-03B7-4EE3-9131-49DC963125B5</key>
		<dict>
			<key>xpos</key>
			<integer>845</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>490E6B3E-6ECD-48A1-8797-5CC7D8FDC8AB</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>4922F96A-AA5C-4384-9CF9-3248C03E4E53</key>
		<dict>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>60B25121-423E-438D-961C-46FBD4D6DF54</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>63B77BBE-6E13-4C16-91CF-BEA69E4B23A2</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>6641BF43-A066-435E-AF81-660793A60AE0</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>79FDFFA8-4E71-4E19-B738-7D9588B66835</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>82994840-9452-4347-8C22-32D6BD4C56C7</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>873862DE-7285-445D-ACCB-53131C843081</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>925DF2FD-12FD-4978-A8C3-AC6504D54F60</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>955149BE-83B0-43C5-B9DB-F8D14286AE3F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>B7689B71-8A4B-4A00-A231-42BA30DB856E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>BCF8F376-0D1E-46FE-BDDF-33975BD3C5E1</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>CC020AEB-1607-4B04-A221-361FC7A4CB8B</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>DE4C00B9-438C-4250-B872-5C85FA528BB5</key>
		<dict>
			<key>note</key>
			<string>TODO</string>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>DEC5FFB6-5A59-4897-8966-DA5C3C66AF75</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>E047D02C-05C7-44A2-A48C-EC7B7764C657</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>EB9269CA-EF42-4CC6-B527-B85B2C4E86FC</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/tucomel/alfred-themetoggler-smoothly.git</string>
</dict>
</plist>
